.feature_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.header {
    font-size: xx-large;
    text-align: center;
    margin-top: 0.7em;
}

.image {
    width: 20em;
    height: 20em;
}

.text {
    text-align: center;
}

.button {
    width: 23em;
}